.SearchResults {
    border: 1px solid black;
    height: auto;
    width: 40em;
}

.songContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 3px solid pink;
}

