/* 
#OB0C10
#1F2833
#C5C6C7
#66FCF1
#45A29E
*/

.App {
  text-align: center;
  padding: 0;
  margin: 0;
  color: #C5C6C7;
  background-color: #0B0C10;
}

.clickButton {
  background-color: transparent;
  color: #C5C6C7;
  border: 1px solid #66FCF1;
  padding: 1em 3em;
}

.clickButton:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #66FCF1;
  color: #0B0C10;
}

.clickButton:active {
  font-size: 0.5em;
}

header {
  z-index: 1;
  background-color: #0B0C10;
  position: fixed;
  height: 5em;
  width: 100%;
  padding: 0 7em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #45A29E;
}

.body {
  padding-top: 10em;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  height: auto;
}

.playlistContainer {
  display: flex;
  justify-content: center;
}

.landingPage {
  color: #45A29E;
  line-height: 2em;;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vh;
}