.playlist {
    margin: 2em;
    width: 40em;
    height: auto;
    border: 3px solid #66FCF1;
}

.playlistTracks {
    border-bottom: 1px solid #66FCF1;
    padding-bottom: 1em;
}

.playlistInput,
.playlistName {
    padding: 1em 0;
    border-bottom: 1px solid #66FCF1;
}

.inputButton {
    background-color: transparent;
    color: #C5C6C7;
    border: 1px solid #66FCF1;
}

.removeButton {
    border: none;
    background-color: #66FCF1;

}