.playlist {
    padding: 1em 0;
    margin: 2em;
    width: 40em;
    height: auto;
    border: 3px solid #45A29E;
    border-radius: 3em;
}

.playlistTracks {
    padding-bottom: 1em;
    margin: 0;
    border-bottom: 0.1px solid white;
    color: #C5C6C7;
}

.playlistInput,
.playlistName {
    padding: 1em 0;
    border-bottom: 1px solid #66FCF1;
}

.inputButton {
    background-color: transparent;
    color: #C5C6C7;
    border: 1px solid #66FCF1;
}

.submitPlaylist {
    background-color: transparent;
    color: #C5C6C7;
    border: 1px solid #66FCF1;
}

.removeButton {
    border: none;
    background-color: #66FCF1;
    background-color: #66FCF1;
    border-radius: 0.5em;

}